.no-corners {
  border-radius: 0;
}

.cart {
  transform: scale(0);
  transform-origin: top right;
  position: absolute;
  display: inline-block;
  top: 52px;
  right: 50px;
  width: 300px;
  transition: transform 0.3s ease-out, height 0.3s linear;
  overflow: hidden;
}
.cart.expanded {
  transform: scale(1);
  transition: transform 0.4s ease-in, height 0.4s linear;
}
.cart.expanded .cart-item {
  transform: translateX(0);
  transition-delay: 0s;
}
.cart.expanded .cart-item.removing {
  transition-delay: 0s !important;
}
.cart.expanded .cart-item:nth-child(1):not(.template) {
  transition-delay: 0.15s;
}
.cart.expanded .cart-item:nth-child(2):not(.template) {
  transition-delay: 0.3s;
}
.cart.expanded .cart-item:nth-child(3):not(.template) {
  transition-delay: 0.45s;
}
.cart.expanded .cart-item:nth-child(4):not(.template) {
  transition-delay: 0.6s;
}
.cart.expanded .cart-item:nth-child(5):not(.template) {
  transition-delay: 0.75s;
}
.cart.expanded .cart-item:nth-child(6):not(.template) {
  transition-delay: 0.9s;
}
.cart.expanded .cart-item:nth-child(7):not(.template) {
  transition-delay: 1.05s;
}
.cart .panel-heading h3 {
  font-size: 18px;
  margin: 0;
}
.cart .cart-item {
  clear: left;
  opacity: 1;
  display: inline-block;
  transform: translateX(224px);
  height: 130px;
  transition: transform 0.3s ease-out,  opacity 0.4s ease-out,  height 0.3s linear;
}
.cart .cart-item.template {
  display: none;
}
.cart .cart-item.toggling {
  height: 0;
  transform: translateX(-300px);
  opacity: 0;
}

.navbar .navbar-brand img {
  max-height: 100%;
}


/* footer styling */
.footer{
	background-color: black;
	color: white;
	margin-top: 30px;
}
.pic-block{
	width: 90px;
	height: 90px;
	background-color: white;
	margin: 10px;
	border: 5px solid black;

}
.bottom{
	text-align: center;
}
.container4 {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
  padding-top: 60px;
}
.topnav {
  overflow: hidden;
  background-attachment: fixed;
  text-align: center;
  padding-bottom: 20px;
}
/* nav bar style */
.topnav {
  overflow: hidden;
  background-attachment: fixed;
  text-align: center;
padding-bottom: 20px;
 }
 .topnav a {
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-family: 'Dosis', sans-serif;
 }
 /*
 .topnav a:hover {
 } */
 .topnav a.active {
  width: 36px;
  height: 11px;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.75px;
  text-align: left;
  color: black;
  padding-right:54px;
 }
 .topnav a.active1{
  width: 34px;
  height: 11px;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.75px;
  text-align: left;
  color: black;
  padding-right:55px;
 }
 .topnav a.active2{
  width: 44px;
  height: 11px;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.75px;
  text-align: left;
  color: black;
  padding-right:50px;
 }
 .topnav a.active3{
  width: 117px;
  height: 21px;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: left;
  color: black;
padding-right:48px;
padding-bottom: 80px;
 }
 .topnav a.active4{
  width: 32px;
  height: 11px;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.75px;
  text-align: left;
  color: black;
  padding-right:53px;
 }
 .topnav a.active5{
  width: 66px;
  height: 11px;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.75px;
  text-align: left;
  color:black;
  padding-right:49px;
 }
 .topnav a.active6{
  width: 77px;
  height: 11px;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.75px;
  text-align: left;
  color: black;
 }
 .topnav .icon {
  display: none;
  padding-right: 35px;
 }