.shipping{
        width: 1900px;
        height: 53px;
        background-color: black;
        text-align: center;
        margin: auto;
        color: white;
        font-size: 18px;
        padding-top: 20px;
}
.nav-bar{
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: inline;
}
.nav{
    display: block;
    width: 100%;
}
.navlist{
    width: 100%;
    display: flex;
    list-style:none;
    align-items: center;
    padding-left: 35%;
    color: white;
}
.navlist li a{
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white
}
.title{
    text-align:center;
    padding-top: 50px;
}
main{
    background-color: rgba(0, 0, 0, 0.5)
}
.home{
    
}