.pre-header {
	
	padding-top: 15px;
	padding-bottom: 15px; 
	width: 100%;
    height: 53px;
	background-color: black;
	  
}
.pre-header .container {
	display: flex;
}
/* nav bar style */
.home {
	width: 36px;
	height: 11px;
	font-family: Dosis;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.75px;
	text-align: left;
	color: white;
  }
  
  .shop {
	width: 34px;
	height: 11px;
	font-family: Dosis;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.75px;
	text-align: left;
	color: white;
  }
  
  .about {
	width: 44px;
	height: 11px;
	font-family: Dosis;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.75px;
	text-align: left;
	color: white;
  }
  .logo{
	width: 117px;
	height: 21px;
	font-family: Dosis;
	font-size: 30px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1.5px;
	text-align: left;
	color:white;
  }
  
  .blog {
	width: 32px;
	height: 11px;
	font-family: Dosis;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.75px;
	text-align: left;
	color: white;
  }
  
  .contact{
	width: 66px;
	height: 11px;
	font-family: Dosis;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.75px;
	text-align: left;
	color: white;
  }
  
  .lookbook{
	width: 77px;
	height: 11px;
	font-family: Dosis;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.75px;
	text-align: left;
	color: white;
  }
/* containers stylying that are for the icons */
.section-one {
	min-height: 85vh;
	background-image: url(../img/DRESS.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	text-align: center;
	display: inline-block;
	
}
.section-two {
	min-height: 85vh;
	background-color: black;
	
}
.pre-header .container .container-icons {
	width: 50%;
}
.big{
	width: 90%;
  height: 9px;
  font-family: SourceSansPro;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: 2.4px;
  text-align: left;
  color: #999999;
}
.money{
	width: 35%
}
.container{
	position: relative;
  }
/* started styling my icons */
.en  {
	width: 13px;
	height: 9px;
	font-family: SourceSansPro;
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #999999;
  }
  
  .icon1{
	width: 7px;
	height: 5px;
	font-family: FontAwesome;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #999999
  }
  .zar {
	width: 21px;
	height: 9px;
	font-family: SourceSansPro;
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #999999;
  }
  .socials{
	    width: 35%;
		height: 15px;
		font-family: FontAwesome;
		font-size: 15px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #999999;
		
	}



.search{
	width: 22px;
	height: 23px;
	font-family: Linearicons-Free;
	font-size: 22px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1.1px;
	text-align: left;
	color: white;
  
}